/* TODO: Media queries to make ipad, and other sized websites responsive.  */
/*

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
} */

/* @media screen and (max-width: 460px) {

} */



/* TODO: Add media queries without it messing up everything else. Can't get the map on the details page to move off the screen during a scroll */

@media screen and (max-width: 770px) {
	#breadcrumb, #map-container {
		width: 100%;
	}

}


@media screen and (min-width: 768px) {
	#restaurants-list li {
		width: 39%;
	}
}

@media screen and (min-width: 1024px) {
	#restaurants-list li {
		width: 25%;
	}
}

@media screen and (min-width: 1400px) {
	body {
	  background-color: #ffffff;
	}
	main, header, nav, #footer, .filter-options, .inside {
      width: 1400px;
      margin-left: auto;
      margin-right: auto;
    }
	.filter-options, #footer {
	  padding: 	1em 0 1em 0;
	}


}
